html {
    font-size: 10px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*НАВИГАЦИЯ*/
.navTop {
    position: relative;
    background-color: #373c3f;
    color: #ebebeb;
}
.navTitle {
    padding: 10px;
    width: 65%;
    float: left;

}
.navTitle p {
    margin: 0;
}
/*МЕНЮ*/
.navTop nav {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: rgba(35, 35, 35, 0.9);
    border-radius: 3px;

}
.navTop nav ul {
    margin: 0;
    padding: 10px;
}
.navTop nav li {
    list-style-type: none;
    margin: 5px 0;
}
.navTop nav li a {
    text-decoration: none;
    color: #ffffff;
}

    /*КНОПКА МЕНЮ НА МОБИЛЬНЫХ*/
.mobile {
    width: 40px;
    background-color: #1f2326;
    padding: 10px;
    float: right;
    height: 100%;
    box-sizing: border-box;

}
#mobile:checked + label + nav {
    display: block;
}
#mobile {
    display: none;
}
/*.btnModile {*/
    /*width: 45px;*/
    /*background-color: #1f2326;*/
    /*float: right;*/
    /*height: 100%;*/
    /*padding: 10px;*/
    /*box-sizing: border-box;*/
/*}*/
/*.btnModile p {*/
    /*text-align: center;*/
    /*margin: 0;*/
    /*line-height: 0.4rem;*/
/*}*/
/*.btnModile a {*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
    /*display: block;*/
/*}*/

/*ЗАГОЛОВОК*/
header {
    background-color: #0b9db4;
    padding: 60px 10px;
}
.headTop {
    width: 80%;
}
.headTop h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}
.headTop a {
    text-decoration: none;
    color: #83d2dd;
}
/*ТЕКСТОВЫЙ БЛОК*/
.textBlock {
    background-color: #373c3f;
    color: #91819f;
}
.textTitle {
    font-size: 0.8rem;
    width: 65%;
    float: left;
    /*margin: 10px; никаких margin*/
    padding: 13px 10px;
}
/*розовая кнопка*/
.btnPink {
    width: 50px;
    float: right;
    height: 100%;
    background-color: #bc3183;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.btnPink p {
    /*margin-top: 17px;*/
}
.btnPink a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}
/*ГАЛЛЕРЕЯ*/

.bgItemGallery {
    position: relative;
    background-color: #5b0fa1;
}
.bgItemGallery span {
    position: absolute;
    top: 48%;
    left: 48%;

}
.bgItemGallery span a {
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}
.bgItemGallery img {
    visibility: hidden; /* Чтобы фон у кнопки был того же размера что и картинка*/
}
.gallery img {
    width: 100%;
    margin-bottom: -3px;
}
/*ОПИСАНИЕ*/
.description {
    padding: 30px;
    background-color: #ebebeb;
}
.description article {
    margin-bottom: 50px;
}
.description article a {
    text-decoration: none;
    color: #088ca5;
    font-size: 1.6rem;
}
.description p {
    font-size: 1.4rem;
}
/*МЕДИА ЗАПРОСЫ*/
/*ШИРИНА ОТ 640px*/
@media only screen and (min-width: 640px) {
    html {
        font-size: 25px;
    }
    .navTitle {
        padding: 20px;
        width: 65%;
    }
    .mobile {
        width: 80px;
        padding: 20px;
        height: 100%;
        box-sizing: border-box;

    }
    /*всплывающее меню*/
    .navTop nav {
        top: 50px;
        right: 50px;
        padding: 20px;
        border-radius: 6px;
    }
    header {
        background-color: #0b9db4;
        padding: 110px 20px;
    }
    /*розовая кнопка*/

    .btnPink {
        width: 100px;
    }
    .textTitle {
        padding: 20px;
    }

    /*описание*/
    .description {
        padding: 60px;

    }
    .headTop h1 {
        font-size: 1.8rem;
    }
    .gallery img {
        margin-bottom: -6px;
    }
}
/*ШИРИНА ОТ 980px*/
@media only screen and (min-width: 980px) {
    html {
        font-size: 23px;
    }
    .navTitle {
        display: none;
    }
    .mobile {
        display: none;
    }
    .navTop {
        position: static;
    }
    .navTop nav {
        display: block;
        position: static;
        padding: 0;
        background-color: transparent;
    }
    .navTop nav ul {
        padding: 20px;

    }
    .navTop nav li {
        display: inline-block;

    }
    .navTop nav li a {
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 0.5rem;
        vertical-align: middle;
    }
    .headTop h1 {
        font-size: 2.7rem;
    }
    .description p {
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 1024px) {

    body {
        background-color: #646464;
    }
    section {
        width: 1024px;
        margin: 0 auto;
    }
    .headTop h1 {
        font-size: 2.6rem;
    }
    .gallery img {
        margin-bottom: -7px;
    }

}